@page "/"
@page "/index"

@attribute [StreamRendering]
@inject IServicioPeliculas servicioPeliculas

<PageTitle>Home</PageTitle>
    
<h3>En cartelera</h3>
<ListadoPeliculas Peliculas="_homeDTO.EnCartelera"></ListadoPeliculas>

<h3>Futuros Estrenos</h3>
<ListadoPeliculas Peliculas="_homeDTO.FuturosEstrenos"></ListadoPeliculas>

@code
{
    private HomeDTO _homeDTO = new();

    protected override async Task OnInitializedAsync()
    {
        _homeDTO = await servicioPeliculas.ObtenerPeliculasHome();
    }

}