@page "/peliculas/crear"
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>CrearPelicula</h3>

<BPBoton OnClick="Crear">Crear Pelicula</BPBoton>

@code {

    void Crear()
    {
        navigationManager.NavigateTo("/peliculas");
    }

}
