@inject AppStateService AppStateService

Cambia el Color:
<select @bind:get="@AppState.Color" @bind:set="@((nuevoValor)=>CambiarColor(nuevoValor))" class="form-select">
    <option value="Red">Rojo</option>
    <option value="Green">Verde</option>
    <option value="Blue">Azul</option>
</select>

@code {
    [CascadingParameter] private AppState AppState { get; set; } = null!;

    public async Task CambiarColor(string valor)
    {
        AppState.Color = valor;
        await AppStateService.NotifyChangedAsync();
    }

}
