@page "/reloj"
@rendermode InteractiveServer
@implements IDisposable

<h3>Reloj</h3>

<p>@fechaActual.ToString("hh:mm:ss")</p>

@code {
    Timer timer = null!;
    DateTime fechaActual = DateTime.Now;

    protected override void OnInitialized() 
    {
        timer = new Timer(new TimerCallback(Elapsed), null, 0, 1000);
        // El primer 0 es el tiempo de espera antes de la primera ejecución, y el segundo 1000 es el intervalo en milisegundos (1 segundo)
    }
    private void Elapsed(object? state)
    {
        fechaActual = DateTime.Now;
        Console.WriteLine(fechaActual.ToLongTimeString());
        InvokeAsync(StateHasChanged);// Esto asegura que la interfaz de usuario se actualice en el hilo correcto

    }

    public void Dispose()
    {
        timer?.Dispose();// Esto es importante para liberar los recursos del timer cuando el componente se destruya
    }
}   